[Unit]
Description=Kellerkompanie TeamSpeak 3 Bot
Documentation=https://github.com/kellerkompanie/kellerkompanie-ts3bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ts3bot
Group=ts3bot
WorkingDirectory=/var/lib/keko-ts3bot
ExecStart=/usr/bin/keko-ts3bot --config /etc/keko-ts3bot/keko-ts3bot.yaml
Restart=always
RestartSec=10

# Hardening
PrivateTmp=true

[Install]
WantedBy=multi-user.target
